@import '~antd/dist/antd.css';
/* #root {
    background-image: url('./shared/assets/main-background.svg');
    height: 100vh;
} */

.circular-progress {
    position:absolute;
    top:45%;
    left:45%;
    color:#6f42c1 !important
}

.no-background-button {
    border:none;
}

.no-background-button:hover, .no-background-button:focus {
    color: black;
    opacity: 0.6;
}

.defualt-input {
    width: 100%;
}