body {
  margin: 0;
  background-image: url('./shared/assets/main-background.svg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
