.swiper {
    width: 15vw;
    padding: 0 40px
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;

  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  