.featured-products-control-container {
    padding: 20px;
    display: flex;
    margin: auto;
    height: 80vh;
}

.featured-products-control-container-content {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    background-color: white;
    gap: 2vh;
    flex:1;
}

.featured-products-control-container-products {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    gap: 2vh;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    height: -webkit-fill-available;
}

.featured-products-control-container-products::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.featured-products-control-container-products::-webkit-scrollbar-thumb {
    background-color: #6F42C1;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}

.featured-products-control-container-products::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.featured-products-control-container-products::-webkit-scrollbar-thumb {
    background-color: #6F42C1;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}
